doctype html
html
	head
		title="Thank you for contacting us!"
		link(rel="stylesheet", href="/index.css", data-inline)
	body.pageBody
		table.wrapper
			tr.header
				td.headerLeft
					span User has sent partnership request form
				td.headerRight
						img.logo(src="https://d114h2zvznkuzo.cloudfront.net/hlogo.png")  
			tr
				td(colspan="2").content 
					p
						span.bold Company name: 
						span #{['company-name']}
					p
						span.bold Company phone: 
						span #{['company-phone']}
					p
						span.bold Company fax: 
						span #{['company-fax']}
					p
						span.bold Company address: 
						span #{['company-address']}
					p
						span.bold Company activities: 
						span #{['company-activities']}
					p
						span.bold Contact person: 
						span #{['contact-person']}
					p
						span.bold Position: 
						span #{position}
					p
						span.bold Email: 
						span #{email}
					p
						span.bold Mobile: 
						span #{mobile}
					p
						span.bold Message: 
						span #{message}
			tr
				td(colspan="2").social
					div.socialIconsWrapper
						div.icon
							img(src="https://d114h2zvznkuzo.cloudfront.net/social_icons/fb.png")
						div.icon
							img(src="https://d114h2zvznkuzo.cloudfront.net/social_icons/in.png")
						div.icon
							img(src="https://d114h2zvznkuzo.cloudfront.net/social_icons/insta.png")
						div.icon
							img(src="https://d114h2zvznkuzo.cloudfront.net/social_icons/twitter.png")
			tr
				td.infoWrapper 
					span.contactWrapper
						div.infoTitle Scientific Office
						div.infoRow
							span.bold Address:35 
							span.info El-Obour Buildings 
							span.breakLine – Salah Salem road – Cairo
						div.infoRow
							span.bold Phone:
							span.info +2 (02) 2082 2014
						div.infoRow
							span.bold Fax:
							span.info +2 (02) 2082 2077
						div.infoRow
							span.bold Email:
							span.info info@atcopharma.com
				td.infoWrapper
					span.contactWrapper
						div.infoTitle Factory
						div.infoRow
							span.bold Address:
							span.info Industrial Quisna Zone 
							span.breakLine – Part No. 1 - Phase No. 3 - Quisna – El-Menofia
						div.infoRow
							span.bold Phone:
							span.info +2 (048) 2590 480 
						div.infoRow
							span.bold Phone:
							span.info +2 (048) 2590 488
						div.infoRow
							span.bold Fax:
							span.info +2 (048) 2590 481
						div.infoRow
							span.bold Email:
							span.info info@atcopharma.com

				